<div class="modal fade" id="buyModal-{{ course.course.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Подтверждение покупки</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Вы уверены, что хотите совершить покупку?
            </div>
            <div class="modal-footer">
                <button  type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <a role="button" methods="POST" href="{{ path('app_course_pay', {'id': course.course.id}) }}" type="button" class="btn btn-primary">Подтвердить</a>
            </div>
        </div>
    </div>
</div>