{% extends 'base.html.twig' %}

{% block title %}StudyOn{% endblock %}

{% block body %}
    <h1>Список курсов</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Название</th>
                <th>Описание</th>
            </tr>
        </thead>
        <tbody>
        {% for course in courses %}
            <tr>
                <td><a href="{{ path('app_course_show', {'id': course.id}) }}">{{ course.name }}</a></td>
                <td>
                    {% if course.description %}
                        {{ course.description }}
                    {% else %}
                        Нет описания
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Список пуст</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <hr/>
    <a href="{{ path('app_course_new') }}">Добавть курс</a>
{% endblock %}
