@import "~bootstrap/scss/bootstrap";

.course-card {
  width: 25rem;

  .card-header {
    font-size: 1.5rem;
  }
}

.error-template {
  padding: 40px 15px;
  text-align: center;
}

.error-actions {
  margin-top: 15px;
  margin-bottom: 15px;
}

.error-actions .btn {
  margin-right: 10px;
}
