{% extends 'base.html.twig' %}

{% block title %}Добавление / {{ lesson.course.name }} / StudyOn{% endblock %}

{% block body %}
    <h1>Добавить новый урок</h1>

    {{ include('lesson/_form.html.twig') }}

    <a href="{{ path('app_course_show', {'id': course.id}) }}">Обратно к курсу</a>
{% endblock %}
